<%- include("./partials/header")%>
<!-- <%- include("./partials/nav")%> -->
<link rel="stylesheet" href="otp.css">
<div class = "container">
  <h4>Enter OTP</h4>
  <form action = "/forget/<%= id%>">
    <div class = "input-field">
      <input type="number ">
     
      <button>Verify OTP</button>
    </div>
  </form>
</div>
<%-include("./partials/footer")%>


